.Init-Menu-Headline {
  width: 98%;
  margin: 1.5em auto;
  text-align: center;
}

.Init-Menu-Items-Container {
  width: 95%;
  display: flex;
  justify-content: space-around;
  margin: 2em;
  padding: 1em;
  flex-wrap: wrap;
}

.Init-Menu-Item-Wrapper {
  cursor: pointer;
  margin: 1em;
}

.Init-Menu-Item {
  width: 20em;
  height: 20em;
  display: flex;
  background-color: rgba(0, 0, 255, 0.2);
  padding: 1em;
  text-align: center;
  transition: 0.75s ease;
}

.Init-Menu-Item:hover {
  background-color: rgba(0, 0, 255, 0.4);
  font-size: 1.2em;
}

.Init-Menu-Item > h3 {
  margin: auto;
}

.Selected {
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: #006600 !important;
  font-size: 1.25em !important;
}

.app {
  overflow: hidden;
  font-family: "Montserrat Thin", serif;
}

.ui {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

#map {
  top: 0;
  width: 100%;
  height: 100%;
}

#mapWrapper {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
  transition-delay: 0s;
}
#mapWrapper.minimized {
  height: 0 !important;
  transition-delay: 1s !important;
}

.UI-Element-Container {
  position: absolute;
}
.UI-Element-Container div {
  backdrop-filter: blur(3px) brightness(85%);
  transition: 0.3s ease;
}
.UI-Element-Container .clickable {
  pointer-events: auto;
}
.Map-Button {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 2.5em;
  transition: 0.3s ease;
  transition-delay: 0s;
}
.Map-Button.active {
  transition-delay: 1s;
}
.Map-Button#MapGetterButton {
  top: -5em;
}
.Map-Button#MapGetterButton.active {
  top: 1em !important;
}
.Map-Button#MapReturnButton {
  transition-delay: 0s;
  bottom: -5em;
}
.Map-Button#MapReturnButton.active {
  bottom: 1em !important;
}

#helperInfo {
  display: flex;
  justify-content: center;
  place-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  height: 2.5em;
  top: 1em;
  font-weight: 700;
  transition: 0.3s ease;
  cursor: default;
}
#helperInfo div {
  padding: 0.5em;
}
#helperInfo.minimized {
  top: -5em;
}

.Map-Button-Label {
  width: 10em;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  overflow: hidden;
  transition: 0.3s ease;
}
.Map-Button-Label.Map-Getter-Button-Label {
  border-bottom: 1px #b4b4b4 solid;
}
.Map-Button-Label.Map-Getter-Button-Label .icon {
  margin: 1.25em 0.1em 2.5em;
  transition: 0.3s ease;
}
.Map-Button-Label.Map-Return-Button-Label {
  border-top: 1px #b4b4b4 solid;
  justify-content: flex-end;
}
.Map-Button-Label.Map-Return-Button-Label .icon {
  margin: 2.5em 0.1em 1.25em;
  transition: 0.3s ease;
}
.Map-Button-Label:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.Map-Button-Label:hover .icon {
  margin: 0.1em;
}

.change-map-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 10;
  background-color: #ffffff;
  padding: 0.5rem 0.75rem;
  border-radius: 3px;
}

body, td, th {
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
}

.d-none {
  display: none !important;
}

.app {
  width: 100%;
  height: 100%;
  background: #636363;
  overflow: hidden;
  background: -moz-linear-gradient(180deg, #636363 0%, #343434 55%, #222222 100%);
  background: -webkit-linear-gradient(180deg, #636363 0%, #343434 55%, #222222 100%);
  background: linear-gradient(180deg, #636363 0%, #343434 55%, #222222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#636363",endColorstr="#222222",GradientType=1);
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#canvas-container {
  width: 100%;
  margin: 0;
  height: 100%;
}

.canvas-wrapper {
  width: 100%;
  height: 100%;
}

#terrain-canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.terrain-components-wrapper {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
