# Default ignored files
/workspace.xml
/workspace-Matthias-PC.xml
/workspace-Matthias-PC-2.xml
/workspace-Matthias-PC-2-Matthias-PC.xml
/workspace-Mueggrogondrolla-PC.xml
/workspace-Mueggrogondrolla-PC-2.xml
/misc-Matthias-PC.xml
/inspectionProfiles/Project_Default.xml
